body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,aside,article,figcaption,figure,header,hgroup,menu,nav,section{margin:0;padding:0}
body,html{font:14px "Helvetica Neue",HelveticaNeue,Helvetica-Neue,Helvetica,'\5fae\8f6f\96c5\9ed1';background:#fff;color:#333;-webkit-text-size-adjust:none;width:100%;overflow:hidden;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;overflow-y:auto;}
table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}fieldset,img{border:0}
q:before,q:after{content:''}button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;    -webkit-appearance:none;}legend{color:#333}
abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}
ol,ul{list-style:none}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
a{color:#444;text-decoration:none}a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:100%}
header,menu,nav,section,article,aside{display:block}
em, i, u, s, b,strong{font-style:normal;font-weight:normal;text-decoration:none;}
.cfix:before,.cfix:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.cfix:after{clear:both;}.cfix{*zoom:1;}
body{
	background: #fff;
}
.g-header{
	height:1.230366rem; 
	background: #fff;
}
.g-header .arrowL ,.g-header .arrowR{
	float:left;
	width: 1.308901rem;
	height:1.230366rem;
	text-align: center;
	vertical-align: middle; 
	position: relative;
	z-index: 5;

}
.g-header .arrowR{
	float: right;
}
.g-header .arrowL i{	 
	width:0.418848rem;
	height: 0.39267rem; 
	display: inline-block;
	margin-top:0.602094rem; 
	background: url(../images/kaw8.png) no-repeat 0 0;
}
.g-header .arrowR i{	 
	width:0.39267rem;
	height:0.39267rem; 
	display: inline-block;
	margin-top: 0.65445rem;
	background: url(../images/kaw8.png) no-repeat 0 -49px;
}
.g-header div{
	 width: 100%;
	 text-align: center;
	 margin: 0 -1.308901rem ;
	 display: inline-block;
}
.g-header .logo{
	display:inline-block;
	width:2.486911rem;
	height:0.890052rem; 
	margin-top:0.287958rem;
	background: url(../images/kaw8.png) no-repeat 0 -151px;
	display: inline-block;
	margin-right: -0.6544505rem;
}
/*div { width: 1rem; height: 0.4rem; font-size: 12px; // 默认写上dpr为1的fontSize }
[data-dpr="2"] div { font-size: 24px; }
[data-dpr="3"] div { font-size: 36px; }*/
.secNav{
	padding:0.48rem 0.4rem 0.8rem;
}
.secNav ul{
	height: 0.826667rem;
	border:1px solid #31a5ff;
	font-size: 34px;
	border-radius: 0.106667rem;
	overflow: hidden;
}
[data-dpr="2"]  .secNav ul{	 
	font-size: 68px;
}
[data-dpr="3"]  .secNav ul{	 
	font-size: 102px;
}
.secNav ul li{
	float: left;
	width: 50%;
}
.secNav ul li a{
	line-height: 0.826667rem;
	text-align: center;
	display: block;
	color: #31a5ff;
}
.secNav ul li a.sel{
	background: #31a5ff;
	color: #fff;
}
.g-main ul{
	padding:0 0.4rem 0.4rem; 
}
.g-main li{
	width: 33.333%; 
	float: left;
}
.g-main li a{
	margin: 0 0.133333rem 0.266667rem;
	display: block;
	border-radius:0.106667rem;
	border: 0.013333rem solid #666d72;
	text-align: center;
}
.g-main li a span{
	font-size: 34px;
	display: inline-block;
	padding:0.333333rem 0 0.266667rem 0; 
}
[data-dpr="2"]  .g-main li a span{	 
	font-size: 68px;
}
[data-dpr="3"]  .g-main li a span{	 
	font-size: 102px;
}
.g-main li a p{
    font-size: 24px;
    padding-bottom: 0.266667rem;
}
[data-dpr="2"]  .g-main li a span{	 
	font-size: 48px;
}
[data-dpr="3"]  .g-main li a span{	 
	font-size: 72px;
}


.searchArea{
	background: #fff;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	padding:0.506667rem 0.4rem; 
}
.searchArea .areaBor{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.searchArea .g-header .input{    
    position: relative;
    z-index: 1;
    font-size: 34px; 
    padding: 0 1.12rem 0 0;
    margin: inherit;
    display: block;
    width: inherit;
} 
[data-dpr="2"] .searchArea .g-header .input{	 
	font-size: 68px;
}
[data-dpr="3"] .searchArea .g-header .input{	 
	font-size: 102px;
}
.searchArea .g-header{
	padding:0 0.106667rem; 
    
}
.searchArea .g-header .input i{
	width:0.39267rem;
	height:0.39267rem; 
	display: inline-block;	 
	background: url(../images/kaw8.png) no-repeat 0 -49px;
	position: absolute;
	top: 0.266667rem;
	left: 0.4rem;
}
.searchArea .g-header .input span{
	width:0.066667rem;
	height:0.4rem; 
	display: inline-block;
	border-left:0.04rem  solid #31a5ff;	 
	position: absolute;
	top: 0.253333rem;
	left: 1.093333rem;
}
.searchArea .g-header .input input{
	width: 100%;
	display: block;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 0.053333rem;
    border:0.013333rem solid #31a5ff;
    text-indent: 1.333333rem;
}
.searchArea .g-header a{
	float: right; 
	font-size:34px;
	margin-left: 0.32rem;
	position: absolute;
	z-index: 5;
	right: 0;
	top:24px; 
}
[data-dpr="2"].searchArea  .g-header a{	 
	font-size: 68px;
}
[data-dpr="3"].searchArea  .g-header a{	 
	font-size: 102px;
}
.searchArea .g-main h2{
	margin:1.093333rem  0 0.506667rem 0; 
	font-size: 34px;
	color: #31a5ff;
}
[data-dpr="2"].searchArea  .g-main h2{	 
	font-size: 68px;
}
[data-dpr="3"].searchArea  .g-main h2{	 
	font-size: 102px;
}
.searchArea .g-main li{
	float: left;
	height: 0.613333rem;
	margin: 0 0.213333rem 0.453333rem;

}
.searchArea .g-main li a{
	display: inline-block;
	line-height: 0.613333rem;
	font-size: 34px;
	color: #fff;
	background: #3caaff;
	padding:0 0.293333rem; 
	border-radius: 0.106667rem;
}
[data-dpr="2"] .searchArea .g-main li a{	 
	font-size: 68px;
}
[data-dpr="3"] .searchArea .g-main li a{	 
	font-size: 102px;
}