body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,aside,article,figcaption,figure,header,hgroup,menu,nav,section{margin:0;padding:0}
body,html{font:14px "Helvetica Neue",HelveticaNeue,Helvetica-Neue,Helvetica,'\5fae\8f6f\96c5\9ed1';background:#fff;color:#333;-webkit-text-size-adjust:none;width:100%;overflow:hidden;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;overflow-y:auto;}
table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}fieldset,img{border:0}
q:before,q:after{content:''}button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;    -webkit-appearance:none;}legend{color:#333}
abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}
ol,ul{list-style:none}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
a{color:#444;text-decoration:none}a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-size:100%}
header,menu,nav,section,article,aside{display:block}
em, i, u, s, b,strong{font-style:normal;font-weight:normal;text-decoration:none;}
.cfix:before,.cfix:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
.cfix:after{clear:both;}.cfix{*zoom:1;}
body{
	background: #fff;
}
.g-header{
	height:1.230366rem; 
}
.g-header .arrowL ,.g-header .arrowR{
	float:left;
	width: 1.308901rem;
	height:1.230366rem;
	text-align: center;
	vertical-align: middle; 
	position: relative;
	z-index: 5;

}
.g-header .arrowR{
	float: right;
}
.g-header .arrowL i{	 
	width:0.418848rem;
	height: 0.39267rem; 
	display: inline-block;
	margin-top:0.602094rem; 
	background: url(../images/kaw8.png) no-repeat 0 0;
}
.g-header .arrowR i{	 
	width:0.39267rem;
	height:0.39267rem; 
	display: inline-block;
	margin-top: 0.65445rem;
	background: url(../images/kaw8.png) no-repeat 0 -49px;
}
.g-header div{
	 width: 100%;
	 text-align: center;
	 margin: 0 -1.308901rem ;
	 display: inline-block;
}
.g-header .logo{
	display:inline-block;
	width:2.486911rem;
	height:0.890052rem; 
	margin-top:0.287958rem;
	background: url(../images/kaw8.png) no-repeat 0 -151px;
	display: inline-block;
	margin-right: -0.6544505rem;
}
/*div { width: 1rem; height: 0.4rem; font-size: 12px; // 默认写上dpr为1的fontSize }
[data-dpr="2"] div { font-size: 24px; }
[data-dpr="3"] div { font-size: 36px; }*/
.g-nav li a{	
	line-height: 0.680628rem;
	height: 0.680628rem;
	border-bottom: 0.065445rem solid #fff;
	color: #000;
	font-size: 38px;
	font-family: '黑体';
	display: inline-block;
}
[data-dpr="2"]  .g-nav li a{	 
	font-size: 76px;
}
[data-dpr="3"]  .g-nav li a{	 
	font-size: 114px;
}
.g-nav li a.sel{
	border-bottom: 0.065445rem solid #31a5ff;	
	font-weight: bold;
}
.g-nav li{
	float: left;
	width: 20%;
	text-align: center;
}
.g-banner a{
	display: inline-block;
	width: 100%;
	height: 4.188482rem;
}
.g-banner a img{
	width: 100%;
}
.m-hotGame{
	margin: 0.863874rem 0 0;
}
.m-hotGame header{
	margin: 0 0.39267rem  0.732984rem 0.39267rem ;
}
.m-hotGame header span{
	font-size: 36px;
	float: left;	
	font-weight: bold;
}
[data-dpr="2"]  .m-hotGame header span{	 
	font-size: 72px;
}
[data-dpr="3"]  .m-hotGame header span{	 
	font-size:  108px;
}
.m-hotGame header a{
	font-size: 24px;
	color:#31a5ff;
	float: right;
}
[data-dpr="2"]  header a{	 
	font-size: 48px;
}
[data-dpr="3"]  header a{	 
	font-size:  72px;
}
.m-hotGame li{
	width: 25%;
    float: left;
    margin: 0 0 0.497382rem 0;
    display: inline;
    text-align: center;
}
.m-hotGame li a{
    display: block;
    width: 100%;
}
.m-hotGame li a b{
	font-size: 30px;
}
.m-hotGame li img {
    display: block;
    width: 1.570681rem;
    height: 1.570681rem;
    border-radius: 0.26178rem; 
    margin: 0 auto 0.13089rem auto;
}
.m-hotGame li .down {
    display: block;
    width: 1.623037rem;
    height: 0.706806rem;
    line-height: 0.706806rem;
    margin: 0.13089rem auto 0;
    border-radius: 0.13089rem;
    background:#31a5ff;
    color: #fff;
    font-size: 26px;
}


